.DS_Store
/target
.gradle/
**/build/
!utils/build/
!utils/build/**
**/.build/
**/DerivedData/
tests/android/app/src/main/jniLibs/
tests/android/gradle_debug.log
tests/ios/app/WaterKitTest.xcodeproj/project.xcworkspace/
tests/ios/app/WaterKitTest.xcodeproj/xcuserdata/
tests/ios/app/WaterKitTest/Generated/
tests/app/
.idea/
.vscode/
tools/dav1d/
